In [1]:
# create a variable and assign an integer value
x = 5

In [ ]:
print(x)

Rules for variable
1-Variable should not Starts with a number.
2- Hyphen is not allowed.
3-Space is not allowed.
4-@ symbol is not allowed
5- Reserved Keywords are not allowed.

In [5]:
GENDER = "Male"
gender = "Female"

In [7]:
gender

'Female'

Datatypes
1-Integer
2-Float
3-String
4-List
5-Boolean
6-None

In [8]:
# Creating a variable and assigning a value
x = 5

# Creating a variable and assigning a string value
name = "Alice"

# Creating a variable and assigning a float value
price = 19.99

# Creating a variable and assigning a list value
my_list = [1, 2, 3]

In [9]:
type(name)

str

type()-Returns the type of the object passed to it.

In [10]:
x = 10
print(type(x))

<class 'int'>

In [11]:
y = 3.14
print(type(y))

<class 'float'>

In [12]:
text = "Hello, world!"
print(type(text))

<class 'str'>

In [13]:
is_true = True
print(type(is_true))

<class 'bool'>

In [14]:
x = None
print(type(x))

<class 'NoneType'>

Typecasting- Changing one datatype to another.

In [15]:
#  int() – Convert to integer
x = int(3.7)      # 3
y = int("10")     # 10

print(x)
print(y)
print(type(x))
print(type(y))

3
10
<class 'int'>
<class 'int'>

In [16]:
# float() – Convert to float
x = float(5)      # 5.0
y = float("2.3")  # 2.3
z = float('2')
print(z)
print(type(z))
print(x)
print(y)
print(type(x))
print(type(y))

2.0
<class 'float'>
5.0
2.3
<class 'float'>
<class 'float'>

IMP- Non-numeric strings cannot be type cast to int, float, or complex in Python. Attempting to do so will raise a ValueError.

String Slicing

In [17]:
# String slicing examples
text = "Electronics"
print(text)
# Basic slices
print("Original text:", text)
print("text[0:5]     :", text[0:5])      
print("text[2:9:2]   :", text[2:9:2])    
print("text[-3:]     :", text[-3:])     
print("text[:4]      :", text[:4])      
print("text[::2]     :", text[::2])

Electronics
Original text: Electronics
text[0:5]     : Elect
text[2:9:2]   : etoi
text[-3:]     : ics
text[:4]      : Elec
text[::2]     : Eetois

In [18]:
# program to reverse a string
text = "datascience"
print(text[::-1])

ecneicsatad

In [19]:
 # to upper case/ lower case
text = "hello World"
text1 = "DATA Science"
print(text.upper())  
print(text1.lower())

HELLO WORLD
data science

join() - we use join() method to combine a list of strings into a single string with each string separated by a space.
Syntax-separator.join(iterable)
Parameters:
separator: The string placed between elements of the iterable.
iterable: A sequence of strings (e.g., list, tuple etc) to join together.

In [20]:
fruits = ['apple', 'banana', 'orange']
result = "-".join(fruits)
print(result)

apple-banana-orange

In [21]:
words = ["Python", "is", "fun"]
sentence = " ".join(words)
print(sentence)

Python is fun

split() method splits a string into a list of strings after breaking the given string by the specified separator.
Syntax-str.split(separator, maxsplit)
Parameters
separator: This is a delimiter. The string splits at this specified separator. If is not provided then any white space is a separator.
maxsplit: It is a number, that tells us to split the string into a maximum of the provided number of times. If it is not provided then the default is -1 which means there is no limit.

In [22]:
text = "apple,banana, grape"
fruits = text.split(",")
print(fruits)

['apple', 'banana', ' grape']

In [23]:
data = "name-age-city"
parts = data.split("-")
print(parts)

['name', 'age', 'city']

strip() method in Python removes all leading and trailing whitespace by default.You can also specify a set of characters to remove from both ends. It returns a new string and does not modify the original.
Syntax-s.strip(chars)
Parameters:
chars(optional): A string specifying the set of characters to remove from the beginning and end of the string.
Return Type: A new string with specified characters removed from both ends.

In [24]:
text = "  hello  "
print(text)
print(text.strip())

  hello
hello