Tuple items are ordered, unchangeable, and allow duplicate values. When we say that tuples are ordered, it means that the items have a defined order, and that order will not change. Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created. It allow Duplicates, Tuple items can be of any data type. Represented by () but have some exception.

In [1]:
# creat an empty tuple
tup = ()
tup
type(tup)

tuple

In [2]:
sample = (1, 2, 3.5, "apple", True,1,3.5)
print(sample)
type(sample)

(1, 2, 3.5, 'apple', True, 1, 3.5)

tuple

In [3]:
# access the elements of tuple
print(sample[2])
print(sample[4])
print(sample[-1])

3.5
True
3.5

In [4]:
lis = [1, 2, 3]
lis[1] = 5 # assignment is possible in list but not in tuple
lis

[1, 5, 3]

In [5]:
# negative slicing
sample = (1, 2, 3.5, "apple")
print(sample[-2])
print(sample[-3:])  
print(sample[ :-1])

3.5
(2, 3.5, 'apple')
(1, 2, 3.5)

In [ ]:
#Slicing of tuple

In [6]:
tup = (1,2,3,4)
print(tup[::-1]) # reverse

(4, 3, 2, 1)

In [7]:
t = (9,3,2,5,7,3,7)
print(t[2:7])

(2, 5, 7, 3, 7)

In [8]:
t = (1, 2, 3, 4, 5, 6)
print(t[::2])

(1, 3, 5)

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [12]:
#typecast tuple to the list and back to tuple
x = ("apple","pineapple", "cherry")
y = list(x)

In [13]:
print(y)
print(type(y))

['apple', 'pineapple', 'cherry']
<class 'list'>

In [14]:
t = ('a', 'b', 'c')
temp = list(t)
temp.append('d')  # Add element
t = tuple(temp)
print(t)

('a', 'b', 'c', 'd')

In [15]:
#use of zip() and list of tuples
names = ['Urvashi', 'Prasanna', 'Gayatri']

age = [23, 78, 12]

zip(names, age)

In [16]:
info = list(zip(names, age))
info

[('Urvashi', 23), ('Prasanna', 78), ('Gayatri', 12)]