Python dictionary is an ordered collection (starting from Python 3.7) of items. Each item of a dictionary has a key/value pair. Dictionaries are optimized to retrieve values when the key is known.The keys of the dictionary are hashable i.e. the are generated by hashing function, key values themselves become the index of the array which stores the data.

Example:

Dict = {1: 'apple', 2: 'banana', 3: 'cherry'}

Creating a Dictionary
In Python, a dictionary can be created by placing a sequence of elements within curly {} braces, separated by ‘comma’.
Dictionary can also be created by the built-in function dict(). An empty dictionary can be created by just placing to curly braces{}.
keys within dictonary must be unique
Keys must be of an immutable data type such as strings, numbers, or tuples
Values in a dictionary can be of any data type
Dictionary keys are case-sensitive, meaning that 'Key' and 'key' are considered distinct keys.

In [1]:
d = {1:1, 2:4, 3:9, 4:16, 5:25}
type(d)

dict

In [2]:
# Accessing the value
d[5]

25

In [3]:
# using curly braces
my_dict = {'name': 'Alice', 'age': 30, 'city':'Newyork'}

#using the dict()
my_dict1 = dict(name = 'Bob', age = 25, city ='London')

In [4]:
my_dict

{'name': 'Alice', 'age': 30, 'city': 'Newyork'}

In [5]:
my_dict1

{'name': 'Bob', 'age': 25, 'city': 'London'}

In [ ]:
Accessing values:
can access values associated with the keys using [ ] (square brackets)

In [6]:
print(my_dict['name'])
print(my_dict['city'])

Alice
Newyork

In [ ]:
Dictionary Methods
clear() – Remove all the elements from the dictionary
copy() – Returns a copy of the dictionary
get(key, default) – Returns the value of specified key
items() – Returns a list containing a tuple for each key value pair
keys() – Returns a list containing dictionary’s keys
pop() – Remove the element with specified key
popitem() – Removes the last inserted key-value pair
update() – Updates dictionary with specified key-value pairs
values() – Returns a list of all the values of

In [7]:
d = {'Neeraj':'Javelinthrow', 'Dhoni':'Cricket','PV Sindhu':'Badmintion','Mary Kom':'Boxing'}

print(f'The keys are: {d.keys()}')
print(f'The values are: {d.values()}')

The keys are: dict_keys(['Neeraj', 'Dhoni', 'PV Sindhu', 'Mary Kom'])
The values are: dict_values(['Javelinthrow', 'Cricket', 'Badmintion', 'Boxing'])

In [ ]:
Nested Dictionary
Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

In [8]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [9]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [10]:
# Access item in the nested dictionary
print(myfamily["child2"]["name"])
print(myfamily['child3']['year'])

Tobias
2011

In [11]:
# loop through nested Dictionary

for x, obj in myfamily.items():   # x -- child1, child2, child3 # obj --- {"name": "Emil", "year": 2004}
    print(x)

    for y in obj:                 # y -- name, year
        print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011